/* STARS */
.checked {
    color: orange;
}

/* STARS*/
/* LOGIN */
.login{
    border: 2px dotted black;
    border-radius: 15px;
    margin: auto;
    text-align: center;
    width:300px;
    padding: 40px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* LOGIN*/


/* ZA PRIKAZ NAJBOOLJ PRILJUBLJENIH */
article{
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}

/* ZA PRIKAZ NAJBOOLJ PRILJUBLJENIH */









