.col-sm-4{
    left: 240px;
    margin-top: 10px;
    width: 400px;
}
.bg{
    background-image: url("./Pics/ozadje3.jpg");
    background-repeat:repeat;
    width: 100%;
    height:100%;
}

footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}