.col-sm-4{
    left: 240px;
    margin-top: 10px;
    width: 400px;
}
.bg{
    background-image: url("./Pics/ozadje2.jpg");
    height:100vh;
}

footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}